@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
}

.navbar{
    background-color: white;
    width: 100%;
    padding: 20px;
    background-color: blueviolet;
}

ul.nav{
    padding: 0px 15px 0px 15px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

img.logo{
    display: flex;
    border-radius: 50%;
    height: 40px;
}

.navlink{
    display: flex;
}

li.navlink{
    padding: 10px;
    color: aliceblue;
}

li.navlink:hover{
    background-color: aliceblue;
    color: black;
    border-radius: 40px;
    transition: 400ms;
    padding: 10px;
}

a.navlink{
    text-decoration: none;
    color: aliceblue;
}

a.navlink:hover{
    color: black;
}

a.navlink:visited{
    color: aliceblue;
}

a.navlink:visited:hover{
    color: black;
}

@media only screen and (max-width:480px){
    ul{
        padding: 0px 15px 0px 15px;
        display: flex;
        flex-direction: column;
        list-style: none;
        align-items: center;
    }
    .navlink{
        display: flex;
        flex-direction: column;
    }
    li{
        padding: 10px;
    }
    img.logo{
        display: flex;
        border-radius: 50%;
        height: 100px;
    }
}

.content{
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: center;
    padding: 5vw;
    background-color: rgb(160, 96, 219);
}

.profile{
    display: flex;
    height: 27vw;
    width: 29vw;
    border: 10px solid blueviolet;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

div.social{
    background-color: rgb(223, 190, 255);
    
}

.heading{
    padding: 2vw 0vw 0vw 10vw;
    
}

ul.social{
    list-style: none;
    display: flex;
    gap: 2vw;
    justify-content: center;
    background-color: rgb(223, 190, 255);
    padding: 0vw 0vw 5vw 0vw;
}

div.social{
    height: 10vw;
}

img.social{
    width: 100px;
}

@media only screen and (max-width: 480px){
    .content{
        display: flex;
        flex-direction: column-reverse;
    }
    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .info{
        padding: 5vw;
    }
}